<br><br>
<div class="centered-container">
    <div class="centered-content">
      <h1 style="text-align: center;">Datos previos seleccionados:</h1>
      <br>
      <p><strong>Directorio donde está instalado MPAS: </strong>{{ dirMPAS }}</p>
      <p><strong>Directorio donde está instalado WPS: </strong>{{ dirWPS }}</p>
      <p><strong>Directorio de casos para MPAS (donde se van a guardar los diferentes casos): </strong>{{ dirCasos }}</p>
      <p><strong>Nombre del caso concreto para MPAS (subdirectorio del anterior donde se va a ejecutar MPAS): </strong>{{ dirCaso }}</p>
      <p><strong>Fecha de comienzo de la simulación: </strong>{{ fecha }}</p>
      <p><strong>Hora de comienzo de la simulación: </strong>{{ hora }}</p>
      <p><strong>Número de horas de la simulación: </strong>{{ duracion }}</p>
      <p><strong>Directorio de datos geográficos: </strong>{{ dirGEO }}</p>
      <br>
  
      <p style="text-align: center;">Si los datos NO son los deseados, pulse el botón de Atrás.</p>
      <div style="display:flex; justify-content:center;">
        <button class="btn" (click)="goBack()">Atrás</button>
      </div>
      <br><br>
      <p style="text-align: center;">Si los datos SÍ son los deseados, realiza los siguientes pasos:</p>
      <p>1] Sitúate en el directorio de casos dónde vas a guardar los distintos casos</p>
      <p style="text-align: center;">cd {{dirCasos}}</p>
      <p>2] Ejecuta el siguiente comando para descargar el archivo "create_a_new_MPAS_case.sh" ya configurado:</p>
      <p style="text-align: center;">
            <!-- <a [href]="generateDownloadLink1()" download="create_a_new_MPAS_case.sh">Descargar "create_a_new_MPAS_case.sh"</a> -->
            <!-- wget {{downloadLink1}} -->
            wget http://localhost:3000/files/create_a_new_MPAS_case.sh
      </p>
      <p>3] Ejecúta el script que te acabas de descargar con el comando:</p>
      <p style="text-align: center;">./create_a_new_MPAS_case.sh {{dirCaso}}</p>
      <p>4] Ejecuta el siguiente comando para descargar el archivo "namelist.init_atmosphere" ya configurado:</p>
      <p style="text-align: center;">
            <!-- <a [href]="generateDownloadLink2()" download="namelist.init_atmosphere">Descargar "namelist.init_atmosphere"</a> -->
            wget http://localhost:3000/files/namelist.init_atmosphere
      </p>
      <p>5] Una vez descargado los archivos, haz clic en siguiente para poder seleccionar la malla deseada:</p>
      <div style="display:flex; justify-content:center;">
        <button class="btn" (click)="goToMallas()">Siguiente</button>
      </div>
    </div>
  </div>
  