<br><br>
<div class="centered-container">
    <div class="centered-content">
        <h1 style="text-align: center;">Datos previos seleccionados:</h1>
        <p><strong>Nombre de la Malla: </strong>{{ label }}</p>
        <!-- <p>Imagen: {{ nombre }}</p> -->
        <p><strong>Latitud: </strong>{{ latitud }}</p>
        <p><strong>Longitud: </strong>{{ longitud }}</p>
        <!-- <img src={{ src }} alt="Imagen"> -->
        <div class="image-container" style="display:flex; justify-content:center;">
            <img style="margin:30px;" *ngIf="src" [src]="src" alt="Imagen">
        </div>
        <p style="text-align: center;">Si los datos no son los deseados, pulse el botón de Atrás.</p>
        <div style="display:flex; justify-content:center;">
            <button class="btn" (click)="goBack()">Atrás</button>
        </div>
        <br><br>
        <p style="text-align: center;">Si los datos sí son los deseados, realiza los siguientes pasos:</p>
        <p>1] Sitúate en el directorio del caso dónde quieres realizar la ejecución:</p>
        <p style="text-align: center;">cd {{dirCaso}}</p>
        <p>2] Ejecuta el siguiente comando para descargar el archivo de la malla:</p>
        <p style="text-align: center;">wget https://www2.mmm.ucar.edu/projects/mpas/atmosphere_meshes/{{nombre}}.tar.gz</p>
        <p>3] Ejecuta el siguiente comando para descomprimir el archivo que acabas de descargar:</p>
        <p style="text-align: center;">tar -xzf {{nombre}}.tar.gz</p>
        <!-- <p>4] Haz clic en <a [href]="generateDownloadLink()">Descargar ficheros</a> para descargar los ficheros necesarios para la simulación ya configurados para los datos seleccionados:</p> -->
        <p *ngIf="src">4] Haz clic en el enlace para descargar el archivo namelist.input ya configurado con los datos seleccionados:</p>
        <p *ngIf="src" style="text-align: center;">
            <a [href]="generateDownloadLink1()" download="namelist.input">Descargar namelist.input</a>
            <!-- <a [href]="generateDownloadLink2()" download="archivo2.txt">Descargar archivo2.txt</a> | -->
        </p>
        <p *ngIf="src">5] Ejecuta el siguiente comando para ejecutar la utilidad de rotación de la malla con el fichero de configuración namelist.input que acabas de descargar:</p>
        <p *ngIf="src" style="text-align: center;">grid_rotate {{nombre}}.grid.nc {{nombre}}.grid_out.nc</p>
    </div>
</div>



