<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="">Inicio</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/mallas" *ngIf="estaLogueado()">Mallas</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/first" *ngIf="estaLogueado()">Comenzar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/quienes">Quiénes somos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contacto">Contacto</a>
      </li>
      <li class="nav-item" style="margin-left: 1060px;" *ngIf="!estaLogueado()"><a class="nav-link" routerLink="/login" style="color: green">Login</a></li>
      <li class="nav-item" style="margin-left: 1060px;" *ngIf="estaLogueado()"><a class="nav-link" (click)="logout()" style="cursor: pointer; color: red;"
        onmouseover="this.style.cursor='pointer'" >Logout</a></li>
    </ul>

</nav>


<main>
    <router-outlet></router-outlet>
</main>
  
  

