<div class="container">
    <div class="radio-group">
      <input type="radio" name="mesh" id="mesh1" value="480-km mesh (2562 horizontal grid cells)">
      <label for="mesh1">480-km mesh (2562 horizontal grid cells)</label>
    </div>
    <div class="radio-group">
      <input type="radio" name="mesh" id="mesh2" value="384-km mesh (4002 horizontal grid cells)">
      <label for="mesh2">384-km mesh (4002 horizontal grid cells)</label>
    </div>
    <div class="radio-group">
      <input type="radio" name="mesh" id="mesh3" value="240-km mesh (10242 horizontal grid cells)">
      <label for="mesh3">240-km mesh (10242 horizontal grid cells)</label>
    </div>
    <div class="radio-group">
      <input type="radio" name="mesh" id="mesh4" value="120-km mesh (40962 horizontal grid cells)">
      <label for="mesh4">120-km mesh (40962 horizontal grid cells)</label>
    </div>
    <div class="radio-group">
      <input type="radio" name="mesh" id="mesh5" value="60-km mesh (163842 horizontal grid cells)">
      <label for="mesh5">60-km mesh (163842 horizontal grid cells)</label>
    </div>
    <div class="radio-group">
      <input type="radio" name="mesh" id="mesh6" value="48-km mesh (256002 horizontal grid cells)">
      <label for="mesh6">48-km mesh (256002 horizontal grid cells)</label>
    </div>
    <div class="radio-group">
      <input type="radio" name="mesh" id="mesh7" value="30-km mesh (655362 horizontal grid cells)">
      <label for="mesh7">30-km mesh (655362 horizontal grid cells)</label>
    </div>
    <div class="radio-group">
      <input type="radio" name="mesh" id="mesh8" value="24-km mesh (1024002 horizontal grid cells)">
      <label for="mesh8">24-km mesh (1024002 horizontal grid cells)</label>
    </div>
    <div class="radio-group">
      <input type="radio" name="mesh" id="mesh9" value="15-km mesh (2621442 horizontal grid cells)">
      <label for="mesh9">15-km mesh (2621442 horizontal grid cells)</label>
    </div>
    <div class="radio-group">
      <input type="radio" name="mesh" id="mesh10" value="12-km mesh (4096002 horizontal grid cells)">
      <label for="mesh10">12-km mesh (4096002 horizontal grid cells)</label>
    </div>
    <div class="radio-group">
        <input type="radio" name="mesh" id="mesh11" value="10-km mesh (5898242 horizontal grid cells)">
        <label for="mesh11">10-km mesh (5898242 horizontal grid cells)</label>
    </div>
    <div class="radio-group">
        <input type="radio" name="mesh" id="mesh12" value="7.5-km mesh (10485762 horizontal grid cells)">
    <label for="mesh12">7.5-km mesh (10485762 horizontal grid cells)</label>
    </div>
    <div class="radio-group">
        <input type="radio" name="mesh" id="mesh13" value="5-km mesh (23592962 horizontal grid cells)">
        <label for="mesh13">5-km mesh (23592962 horizontal grid cells)</label><br>
    </div>
    <div class="radio-group">
        <input type="radio" name="mesh" id="mesh14" value="4-km mesh (36864002 horizontal grid cells)">
        <label for="mesh14">4-km mesh (36864002 horizontal grid cells)</label><br>
    </div>
    <div class="radio-group">
        <input type="radio" name="mesh" id="mesh15" value="3.75-km mesh (41943042 horizontal grid cells)">
        <label for="mesh15">3.75-km mesh (41943042 horizontal grid cells)</label><br>
    </div>
    <div class="radio-group">
        <input type="radio" name="mesh" id="mesh16" value="3-km mesh (65536002 horizontal grid cells)">
        <label for="mesh16">3-km mesh (65536002 horizontal grid cells)</label>
    </div>
</div>











