body {
    background-image: url('./assets/hexagonos1.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  /* Agregar margen para que el menú no se superponga al contenido */
main {
  margin-top: -30px;/* Ajusta este valor según la altura de tu barra de navegación */
  }

/* Barra de navegador fija */
.navbar-container {
    position: fixed;
  }
  
  
  
