<br/><br/>
<h1 style="text-align: center;">{{ title }}</h1>
<br/>
<h2 style="text-align: center;" *ngIf="!loginService.estaLogueado()">¡Bienvenido! Tienes que iniciar sesión para empezar a usar la Aplicación.</h2>
<app-login *ngIf="!loginService.estaLogueado()"></app-login>
<br>
<h2 style="text-align: center;" *ngIf="loginService.estaLogueado()">¡Gracias por iniciar sesión!</h2>
<h2 style="text-align: center;" *ngIf="loginService.estaLogueado()">Dirígete a Comenzar en el menú o pulsa en el globo terráqueo para comenzar a usar la aplicación.</h2>
<!--<button *ngIf="loginService.estaLogueado()" class="btn" (click)="irAMallas()">Comenzar</button> -->
<div *ngIf="loginService.estaLogueado()" style="text-align: center;">
    <a href="/first">
      <img src="assets/terraMPAS.png">
    </a>
    <div style="display: inline-block;"></div>
  </div>
<!-- <app-mallas></app-mallas> -->